.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.bash_profile.backup
.boto
.config/
.cups/
.esets/
.gsutil/
.lesshst
.skipbuddy
.ssh/
.sso/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
bin/
terminology
work/
